<!--suppress CheckImageSize -->
<!--suppress HtmlUnknownTarget -->

<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/store">
      <img src="../../assets/icon.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
      &nbsp; Generous Hearts
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <button *ngIf="this.isAdmin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addchildmodal">
      add child
    </button>


    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        <button class="btn me-3 shadow-none" type="button" id="accountDropdown" data-bs-toggle="modal" data-bs-target="#accountModal">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button class="btn me-4 shadow-none" (click)="gotoCart()">
          <mat-icon>payment</mat-icon>
          <span class="badge rounded-circle bg-gradient text-white" *ngIf="this.badgeCount > 0">{{this.badgeCount}}</span>
        </button>

        <button class="btn me-4 shadow-none" type="button" data-bs-toggle="modal" data-bs-target="#receipt">
          <mat-icon>receipt</mat-icon>
        </button>

        <button class="btn shadow-none" (click)="handleSignOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
<header id="myheader" style="background: rgb(125, 136, 125); color:rgb(255, 255, 255); padding:20px 20px;">
  <h2>Generous Hearts</h2> <h6> Sponsor a child. Change a life. </h6> 
</header>
<app-user></app-user>

<div class="modal fade" id="addchildmodal" tabindex="-1" aria-labelledby="addchildmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addchildmodalLabel">add child</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div class="input-group mb-3">
          <span class="input-group-text">name</span>
          <input [(ngModel)]="this.name"  type="text" class="form-control" placeholder="name" aria-label="name">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">info</span>
          <input [(ngModel)]="this.info" type="text" class="form-control" placeholder="info" aria-label="info" >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">age</span>
          <input [(ngModel)]="this.age" type="text" class="form-control" placeholder="age" aria-label="age" >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">donate</span>
          <input [(ngModel)]="this.donate"  type="text" class="form-control" placeholder="donate" aria-label="donate" >
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.addChildFirebase()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="receipt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">receipt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>
        </div>

    </div>
  </div>
</div>