<!--suppress CheckImageSize -->
<!--suppress HtmlUnknownTarget -->




<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/store">
      <img src="../../assets/icon.png" alt="" width="40" height="40" class="d-inline-block align-text-top">
      &nbsp; Generous Hearts
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
  
    <button *ngIf="this.isAdmin" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addchildmodal">
      add child
    </button>


    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex">
        <button class="btn me-3 shadow-none" type="button" id="accountDropdown" data-bs-toggle="modal" data-bs-target="#accountModal">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button class="btn me-4 shadow-none" (click)="gotoCart()">
          <mat-icon>payment</mat-icon>
          <span class="badge rounded-circle bg-gradient text-white" *ngIf="this.badgeCount > 0">{{this.badgeCount}}</span>
        </button>

        <button class="btn me-4 shadow-none" type="button" data-bs-toggle="modal" data-bs-target="#receipt">
          <mat-icon>receipt</mat-icon>
        </button>

        <button class="btn shadow-none" (click)="handleSignOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
<header id="myheader" style="background: rgb(125, 136, 125); color:rgb(255, 255, 255); padding:20px 20px;">
  <h2>Generous Hearts</h2> <h6> Sponsor a child. Change a life. </h6> 
</header>
<app-user></app-user>

<div class="modal fade" id="addchildmodal" tabindex="-1" aria-labelledby="addchildmodalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addchildmodalLabel">add child</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      
        <div class="input-group mb-3">
          <span class="input-group-text">name</span>
          <input [(ngModel)]="this.name"  type="text" class="form-control" placeholder="name" aria-label="name">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">info</span>
          <input [(ngModel)]="this.info" type="text" class="form-control" placeholder="info" aria-label="info" >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">age</span>
          <input [(ngModel)]="this.age" type="text" class="form-control" placeholder="age" aria-label="age" >
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">donate</span>
          <input [(ngModel)]="this.donate"  type="text" class="form-control" placeholder="donate" aria-label="donate" >
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupFile01">upload</label>
          <input type="file" class="form-control" id="inputGroupFile01" requiredFileType="image/png" (change)="this.changeProfilePicture($event)">
        </div>
        

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.addChildFirebase()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="receipt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">receipt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" >
      <a href="https://drive.google.com/file/d/1B8hQVbqht2DdV0yCcjCrAVgyfXEKVj4l/view?usp=sharing" 
      download="proposed_file_name">
      <br>
      FEB
      <br>
      <br>
      </a>
    </h2>
    
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <a href="https://drive.google.com/file/d/1B8hQVbqht2DdV0yCcjCrAVgyfXEKVj4l/view?usp=sharing" 
      download="proposed_file_name">
      <br>
      MAY
      <br>
      <br>
      </a>
    </h2>
    
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
        <a href="https://drive.google.com/file/d/1B8hQVbqht2DdV0yCcjCrAVgyfXEKVj4l/view?usp=sharing" 
        download="proposed_file_name">
        <br>
        OCT
        <br>
        <br>
        </a>
    </h2>
    
  </div>
</div>
        </div>

    </div>
  </div>
</div>