<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 99, 41);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: rgb(3, 104, 37);
  }

  .btn-primary {
    background-color: #7adda3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #c9fad5;
    color: rgb(0, 61, 25);
  }

  .modal-body {
    color: rgb(0, 0, 0);
    padding: 2px 16px;
  }

  .card-title text-primary{
    color: rgb(0, 0, 0);
    padding: 2px 16px;
  }





  </style>
</head>
<body>

  <div class="row h-100 justify-content-center align-items-center m-0 p-0">

    <header id="myheader" style="background: rgb(255, 255, 255); color:rgb(2, 70, 0); padding:20px 20px;">
      <h2>Generous Hearts</h2> <h6> Sponsor a child. Change a life. </h6>
    </header>

    <ul>

       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginexampleModal">
        login
      </button>
      <!-- Modal -->
      <div class="modal fade" id="loginexampleModal" tabindex="-1" aria-labelledby="loginexampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">log in</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card bg-light">
                <div class="card-body">
                  <h5 class="card-title text-primary" style="color:rgb(29, 102, 0);" >enter your email and password</h5>
                  <form>
                    <div class="mb-3">
                      <div class="input-group mb-3">
                      <span class="input-group-text">
                        <mat-icon>account_circle</mat-icon>
                      </span>
                        <input [(ngModel)]="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                              name="email" placeholder="Email address">
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">
                        <mat-icon>lock</mat-icon>
                      </span>
                      <input [(ngModel)]="password" type="password" class="form-control mat-danger"
                            id="confirmPasswordInput" name="pass" placeholder="Password">
                    </div>
                    <div>
                      <a>
                        Do not have an account?
                      </a>
                      <button class="btn p-0 link-primary" (click)="changePage(2)" data-bs-dismiss="modal">Sign up</button>
                    </div>
                    <div>
                      <a>
                        Forgot your password?
                      </a>
                      <button class="btn p-0 link-primary" (click)="changePage(3)" data-bs-dismiss="modal">Reset</button>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" (click)="handleLogin(false)" data-bs-dismiss="modal">Log in</button>
                    <button type="submit" class="ms-4 btn btn-danger mt-3" (click)="handleLogin(true)">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
                          viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                      </svg>
                    </button>
                  </form>
                </div>
      </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3">
        see our impact
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModal3Label">see our impact</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Little Yojan was born sick. In the time it took for a doctor to diagnose him with a heart condition that required surgery, his mother passed away. See how the support of sponsorship helped Yojan and his family navigate these challenges and get the medical care they needed.
              Thank you to all the people who supported us with Yojan. It was very difficult for all of us here at home to see the child how he was... to see him suddenly healthy....there are no words to say thank you.
              <iframe width="420" height="345"
              src="https://www.youtube.com/embed/MCAJhbplfsc?rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.children.org&amp;widgetid=1">
              </iframe>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
        why to donate
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModal4Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModal4Label">why to donate</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Children in poverty are more likely to be exposed to the stress of violence,gangs and drugs.
              <br>
              This can negatively affect brain development and long-term well-being.
              <br>
              Your support during this vulnerable time helps children and youth set their own goals to build a life free from poverty.
              <br>
              When you sponsor a child, you create a powerful multiplier effect.
              <br>
              You help them see beyond the daily struggles of life in poverty.
              <br>
              Your support releases them from a cycle of short-term decisions and helps them gain the ability to begin contributing to their own families and communities.
              <br>
              Sponsorship encompasses key programs specifically designed to address children’s toughest issues in their fight against poverty.
              <br>
              Getting and staying healthy, staying in school, finding a stable job.
              <br>
              You can help children overcome challenges they’d otherwise face for a lifetime.
              <br>
              You can help set them free.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>


      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
        contact Us
      </button>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModal2Label">email and phone</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              GenerousHeart's email:
              <br>
              generoushearts22@gmail.com
              <br>
              GenerousHeart's phone:
              <br>
              +972-506080209
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </ul>

    <video id="background-video" controls loop autoplay muted>
      <source src="../../assets/vv.mp4" type="video/mp4">
    </video>


    <div class="col-md-4">
      <div class="card bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary">Log in</h5>
          <form>
            <div class="mb-3">
              <div class="input-group mb-3">
              <span class="input-group-text">
                <mat-icon>account_circle</mat-icon>
              </span>
                <input [(ngModel)]="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                      name="email" placeholder="Email address">
              </div>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <mat-icon>lock</mat-icon>
              </span>
              <input [(ngModel)]="password" type="password" class="form-control mat-danger"
                    id="confirmPasswordInput" name="pass" placeholder="Password">
            </div>
            <div>
              <a>
                Do not have an account?
              </a>
              <button class="btn p-0 link-primary" (click)="changePage(2)">Sign up</button>
            </div>
            <div>
              <a>
                Forgot your password?
              </a>
              <button class="btn p-0 link-primary" (click)="changePage(3)">Reset</button>
            </div>
            <button type="submit" class="btn btn-primary mt-3" (click)="handleLogin(false)">Log in</button>
            <button type="submit" class="ms-4 btn btn-danger mt-3" (click)="handleLogin(true)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
                  viewBox="0 0 16 16">
                <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>



</body>
</html>
