
<div class="card mt-3 mb-2 pb-3 text-truncate" style="width: 18rem; background-color: rgba(235, 255, 255, 0.658)">
  <div class="card-body">
    <img src="../../../assets/childs/{{image_name}}" class="card-img-top" alt="card image">
    <p>
      
    </p>
    <h5 class="card-text text-wrap" style="color:rgb(4, 2, 126);">name: {{name}}</h5>
    <p>
    </p>
    <h5 class="card-text text-wrap" style="color:rgb(4, 2, 126);">age: {{age}}</h5>
    <p>

    <h2
    class="text-dark">donate: ${{donate}}
    </h2>
    
      <p>

      </p>
      <button class="btn btn-dark mb-2" [disabled]="this.firebase.delay" data-bs-toggle="modal" [attr.data-bs-target]="'#'+this.name">more info
      </button>
  </div>
</div>

<div class="modal fade" [id]="this.name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" [id]="this.name">name: {{name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        more info: {{info}}
        <p>
      
        </p>
        age: {{age}}
        <p>
      
        </p>
        donate: ${{donate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-dark mb-2" [disabled]="this.firebase.delay" (click)="addItemToCart()">donate
        </button>
      </div>
    </div>
  </div>
</div>